@value mainGrey from "../../common/colors.css";
@value mainDeepGrey from "../../common/colors.css";
@value mainColor from "../../common/colors.css";
@value mainWhite from "../../common/colors.css";

.editContainer {
  margin-top: 100px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding-right: 2%;
  margin: 0 80px;
  height: 80vh;
  /* flex: 1 1 70%; */
}

.data {
  outline: 0;
  border: 1px solid mainGrey;
  padding: 10px;
}

.data:after {
  color: mainGrey;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid mainGrey;
}
.mainContents {
  height: 100%;
}

.hashTag__container {
  padding: 10px 0;
  border: 0;
  display: flex;
  align-items: center;
}

.uploadBtn {
  background: #b0bec5;
  border: 0;
  outline: 0;
  padding: 5px 0px;
  margin-left: 5%;
  margin-top: 5%;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  width: 100px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.uploadBtn:hover {
  background-color: #90a4ae;
}
