@value mainLightGrey from '../../common/colors.css';

.container {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button {
  width: 100%;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: mainLigthGrey;
  margin-bottom: 10px;
  margin-right: 10px;
}

.button:hover {
  opacity: 0.8;
}

.input {
  display: none;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  align-content: center;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 2px solid mainLightGrey;
  border-top: 3px solid #ffccbc;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}
