@value mainLightGrey from '../../common/colors.css';

.prevContainer {
  /* flex: 1 1 30%; */
}

.prev__Title {
  height: 100px;
  width: 100%;
  font-size: 23px;
  margin-bottom: 10px;
  padding: 0 8px;
  padding-bottom: 15px;
}

.prev__Content {
  font-size: 13px;
  height: 200px;
  margin-bottom: 10px;
  padding: 11px;
  white-space: pre-line;
  overflow: scroll;
  overflow-x: hidden;
}

.imgTag {
  width: 300px;
  margin-left: 2%;
  margin-top: 1%;
}
