@value mainColor from '../../common/colors.css';
@value mainGrey from '../../common/colors.css';
@value mainWhite from '../../common/colors.css';
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");

.header {
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

.logo {
  cursor: pointer;
  min-width: 160px;
}

.sidebarContainer {
  position: fixed;
  display: none;
  /* z-index: 0; */
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  /* 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  display: block; */
  /* z-index: 100; */
}

.sidebarInner {
  position: fixed;
  background: linear-gradient(
    90deg,
    rgba(104, 148, 186, 0.7572309870550162) 0%,
    rgba(121, 73, 145, 0.6730885922330097) 100%
  );
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  transition: all 0.3s;
  /*
  
  /* left: -200px;
  
  */
  /* opacity: 0;
  display: none; */
  /* padding-top: 15px;
   */
}

.sideSection.show {
  /* left: 0; */
  /* */
  /* display: block; */
  opacity: 1;
}
.sideSection.show .sidebarInner {
  left: 0;
}
.sidebar {
  display: inline;
  font-family: "Chango", cursive;
}

.search {
  display: flex;
  align-items: center;
}

.searchInput {
  outline: 0;
  border: 0;
}

.searchIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.user {
  border-radius: 10px;
  height: 100%;
  width: 100px;
  font-size: 15px;
  border: 1px solid mainColor;
  color: mainColor;
  text-align: center;
  padding: 5px 0;
  margin-left: 20px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.user:hover {
  background: mainColor;
  color: mainWhite;
}

.userName:hover {
  background: mainColor;
  color: mainWhite;
}

.container {
  position: absolute;
  top: 40px;
  right: 0;
  transform: translate(-50%, 0);
  visibility: hidden;
}

.container.show {
  visibility: visible;
}
